.course-container{
    width: 580px;
    margin: 20px auto;
    padding: 10px 10px;
    background-color: #fff;
}
.course-details{
    display: flex;
    margin: 20px 0px;
    text-align: center;
}
button{
    width: 140px;
    height: 30px;
    border: none;
    margin: 5px 3px;
}
input[type=text]{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    text-align: center;
  }